.root {
    width: 490px;
    margin: 0 auto;
}

.divider {
    margin: 30px 0;
}

.toggle-row {
    display: flex;
    gap: 45px;
}

.toggle-label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}

.button {
    width: 100%;
}