.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.link {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}