$icons: (
    people: '\e900',
    time: '\e901',
    currency: '\e902',
    date: '\e903',
    error: '\e904',
    success: '\e905',
    menu: '\e906',
    telegram: '\e907',
    arrow: '\e908',
    close: '\e909',
);