/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/SectionLayout/SectionLayout.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SectionLayout_container__sUsrG {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1300px) {
  .SectionLayout_container__sUsrG {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/IconBase/IconBase.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IconBase_iconBase__yVV0x {
  display: inline-block;
  font-weight: 400;
  transition: 0.3s ease;
  transition-property: opacity, color, transform;
}
.IconBase_iconBase__yVV0x::before {
  font-family: "icon", sans-serif;
  display: block;
  font-size: inherit;
  color: inherit;
  line-height: 1;
}
.IconBase_iconBase--placeholder__UezaR::before {
  content: "\ea0a";
}
.IconBase_iconBase--plus__TWzDd::before {
  content: "\ea0b";
}
.IconBase_iconBase--script__YN_V3::before {
  content: "\ea0c";
}
.IconBase_iconBase--target__Pj5PC::before {
  content: "\ea0d";
}
.IconBase_iconBase--teach__8fQ5z::before {
  content: "\ea0e";
}
.IconBase_iconBase--tik-tok__Hde8j::before {
  content: "\ea0f";
}
.IconBase_iconBase--book-open__3kkC_::before {
  content: "\ea01";
}
.IconBase_iconBase--chevron-left__no6Gk::before {
  content: "\ea02";
}
.IconBase_iconBase--chevron-right__V1WS_::before {
  content: "\ea03";
}
.IconBase_iconBase--close__DIJpT::before {
  content: "\ea04";
}
.IconBase_iconBase--facebook__NU44I::before {
  content: "\ea05";
}
.IconBase_iconBase--headset__LmVPZ::before {
  content: "\ea06";
}
.IconBase_iconBase--instagram__CA5Ro::before {
  content: "\ea07";
}
.IconBase_iconBase--message__fE26B::before {
  content: "\ea08";
}
.IconBase_iconBase--mood-happy__oc7DR::before {
  content: "\ea09";
}
.IconBase_iconBase--trending-up__Wzibt::before {
  content: "\ea10";
}
.IconBase_iconBase--user-plus__G6QCB::before {
  content: "\ea11";
}
.IconBase_iconBase--users__ol9Iv::before {
  content: "\ea12";
}
.IconBase_iconBase--vk__03eNl::before {
  content: "\ea13";
}
.IconBase_iconBase--zap__5eWKA::before {
  content: "\ea14";
}
.IconBase_iconBase--clock__Mm_5M::before {
  content: "\ea15";
}
.IconBase_iconBase--repeat__U4ImP::before {
  content: "\ea16";
}
.IconBase_iconBase--warning__LP_Kw::before {
  content: "\ea17";
}
.IconBase_iconBase--check__i7MDt::before {
  content: "\ea18";
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/InfoRow/InfoRow.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.InfoRow_infoRow__x5aY0 {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media (min-width: 1200px) {
  .InfoRow_infoRow__x5aY0 {
    gap: 12px;
  }
}

.InfoRow_icon__ZNCCD {
  font-size: 15px;
  color: rgb(98, 103, 223);
}
@media (min-width: 1200px) {
  .InfoRow_icon__ZNCCD {
    font-size: 24px;
  }
}

.InfoRow_text__O_s5g {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .InfoRow_text__O_s5g {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/Button/Button.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__wliYd {
  padding: 10px 20px;
  border-radius: 90px;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 14px;
  transition: 0.3s ease;
  transition-property: background-color, box-shadow, color, opacity;
}
.Button_button--view-primary__cWRgD {
  background-color: rgb(98, 103, 223);
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
  .Button_button--view-primary__cWRgD:hover {
    background-color: rgb(98, 50, 223);
  }
}
.Button_button--view-secondary__m_8WR {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px rgb(98, 103, 223);
  color: rgb(0, 0, 0);
}
@media (min-width: 1200px) {
  .Button_button--view-secondary__m_8WR:hover {
    box-shadow: inset 0px 0px 0px 4px rgb(98, 103, 223);
    color: rgb(98, 103, 223);
  }
}
@media (min-width: 1200px) {
  .Button_button__wliYd {
    padding: 15px 30px;
    font-size: 15px;
    line-height: 18px;
  }
}

.Button_isBold__taXiK {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 1200px) {
  .Button_isBold__taXiK {
    font-size: 18px;
    line-height: 22px;
  }
}

.Button_isDisabled__Li_lC {
  pointer-events: none;
  opacity: 0.6;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/Input/Input.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Input_input__dwy5x {
  transition: 0.3s ease;
  transition-property: border-color;
  display: block;
  padding: 16px 25px;
  font-size: 12px;
  color: #000;
  outline: none;
  border: 1px solid rgba(190, 190, 190, 0.9);
  border-color: rgba(190, 190, 190, 0.9);
  background-color: rgb(255, 255, 255);
  border-radius: 90px;
  box-sizing: border-box;
}
.Input_input__dwy5x::placeholder {
  color: rgb(144, 144, 144);
}
@media (min-width: 1200px) {
  .Input_input__dwy5x {
    padding: 22px 25px;
  }
  .Input_input__dwy5x:hover {
    border-color: rgb(98, 103, 223);
  }
}

.Input_label__5xQux {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.Input_is-error___5fOS {
  border-color: rgb(255, 89, 86);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/Modal/Modal.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Modal_modal__AF7If {
  transition: 0.3s ease;
  transition-property: opacity;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  background: rgba(6, 30, 40, 0.9);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
  /* Track */
  /* Handle */
}
.Modal_modal__AF7If ::-webkit-scrollbar {
  width: 0.3333333333rem;
}
.Modal_modal__AF7If ::-webkit-scrollbar-track {
  border-radius: 0.3333333333rem;
}
.Modal_modal__AF7If ::-webkit-scrollbar-thumb {
  border-radius: 0.3333333333rem;
}

.Modal_is-active__ZnYZ9 {
  opacity: 1;
}

.Modal_wrapper__jsB5H {
  transition: 0.3s ease;
  transition-property: opacity, transform;
  width: 360px;
  border-radius: 10px;
  border: 1px solid rgb(192, 192, 192);
  background: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  padding: 18px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(calc(-100% - 27px));
}
@media (min-width: 1200px) {
  .Modal_wrapper__jsB5H {
    width: 450px;
    margin-top: 121px;
  }
}

.Modal_is-active-wrapper__1WhYJ {
  opacity: 1;
  transform: translateY(0);
}

.Modal_button__rp8ns {
  transition: 0.3s ease;
  transition-property: color;
  display: block;
  position: relative;
  margin-left: auto;
  width: 22px;
  height: 22px;
  color: rgb(177, 177, 177);
}
.Modal_button__rp8ns::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
}
.Modal_button__rp8ns:hover {
  color: rgb(197, 197, 197);
}

.Modal_icon__oyMIn {
  font-size: 22px;
}

.Modal_children__f547n {
  width: 100%;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/Response/Response.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Response_response__YT62H {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Response_response--view-success__auV5y {
  color: rgb(2, 188, 125);
}
.Response_response--view-warning__NxjIl {
  color: rgb(255, 164, 29);
}
.Response_response--view-critical__D8IbN {
  color: #EE0979;
}

.Response_icon__QCfj4 {
  font-size: 102px;
}

.Response_text__oXgMF {
  display: block;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
}
@media (min-width: 1200px) {
  .Response_text__oXgMF {
    font-size: 20px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/features/promoCode/ui/PromoModal/PromoModal.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PromoModal_wrapper__WjWEc {
  position: relative;
  height: 633px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .PromoModal_wrapper__WjWEc {
    height: 707px;
  }
}

.PromoModal_inner__5AKKt,
.PromoModal_response__XBf_j {
  transition: 0.3s ease;
  transition-property: opacity;
  pointer-events: none;
  opacity: 0;
}

.PromoModal_response__XBf_j {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.PromoModal_is-active__FXSJc {
  opacity: 1;
  pointer-events: all;
}

.PromoModal_title__Z90il {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1200px) {
  .PromoModal_title__Z90il {
    font-size: 26px;
  }
}

.PromoModal_field___XL0H {
  margin-top: 20px;
}
@media (max-width: 1199px) {
  .PromoModal_field___XL0H:nth-child(1) {
    margin-top: 25px;
  }
}

.PromoModal_recaptcha___WA09 div div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.PromoModal_button__FlaV_ {
  width: 100%;
  margin-top: 20px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/widgets/main/ui/NewQuizInfo/NewQuizInfo.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (min-width: 1200px) {
  .NewQuizInfo_wrapper__tUciP {
    width: 416px;
  }
}

.NewQuizInfo_title__MI_OG {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .NewQuizInfo_title__MI_OG {
    font-size: 40px;
  }
}

.NewQuizInfo_description__J0Js7 {
  font-size: 16px;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .NewQuizInfo_description__J0Js7 {
    font-size: 24px;
  }
}

.NewQuizInfo_row__IOWnv {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -13px;
}
@media (min-width: 1200px) {
  .NewQuizInfo_row__IOWnv {
    margin-top: 10px;
  }
}

.NewQuizInfo_info__XmBYh {
  width: 50%;
  margin-top: 13px;
}
@media (min-width: 1200px) {
  .NewQuizInfo_info__XmBYh {
    margin-top: 20px;
  }
}

.NewQuizInfo_buttons__xFdJT {
  display: flex;
  gap: 14px;
  margin-top: 22px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/screens/ui/Main/sections/NewQuiz/NewQuiz.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NewQuiz_root__31xX2 {
  margin-top: 40px;
}

.NewQuiz_container___1G9I {
  padding: 30px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(135deg, #C8D1EA, #E2E0ED);
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .NewQuiz_container___1G9I {
    display: flex;
    padding: 100px 80px;
    background: linear-gradient(135deg, #D0D6E9, #E4E6F3, #A3B3D7);
  }
}

.NewQuiz_image__CJLuU {
  width: 178px;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .NewQuiz_image__CJLuU {
    width: 464px;
    aspect-ratio: 1;
    position: absolute;
    top: 8px;
    right: 135px;
    animation: 3s linear 1s NewQuiz_decorationAnimation__ouLY4 infinite;
  }
}

@keyframes NewQuiz_decorationAnimation__ouLY4 {
  0% {
    transform: translateY(30px) rotate(10deg);
  }
  50% {
    transform: translateY(-30px) rotate(0deg);
  }
  100% {
    transform: translateY(30px) rotate(10deg);
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/widgets/footer/ui/Footer/Footer.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_root__myWwe {
  border-top: 1px solid rgb(229, 229, 240);
  padding-top: 20px;
  padding-bottom: 20px;
}

.Footer_container__FVCWy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1300px) {
  .Footer_container__FVCWy {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.Footer_privacy__x_8oe {
  opacity: 0.6;
  font-size: 15px;
  line-height: 18px;
}

.Footer_telegram__YurJg {
  transition: 0.3s ease;
  transition-property: opacity;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 9px;
  opacity: 0.6;
}
.Footer_telegram__YurJg:hover {
  opacity: 0.8;
}

.Footer_icon__o7Cv2 {
  font-size: 29px;
  color: rgb(0, 0, 0);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/ui/InfoCard/InfoCard.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.InfoCard_header__3DuzU {
  display: flex;
  align-items: center;
  gap: 33px;
}
@media (min-width: 1200px) {
  .InfoCard_header__3DuzU {
    gap: 30px;
  }
}

.InfoCard_wrapper__kh7Fs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgb(98, 103, 223);
  background-color: rgb(249, 249, 255);
}
@media (min-width: 1200px) {
  .InfoCard_wrapper__kh7Fs {
    width: 114px;
    height: 114px;
  }
}

.InfoCard_index__a2M6E {
  font-family: "Montserrat";
  font-size: 32px;
  line-height: 39px;
  color: rgb(60, 217, 238);
}

.InfoCard_icon__lzwN7 {
  position: relative;
  transition: 0.3s ease;
  transition-property: transform;
  color: rgb(0, 98, 141);
  font-size: 29px;
}
@media (min-width: 1200px) {
  .InfoCard_icon__lzwN7::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: "";
    width: 1000%;
    height: 100%;
  }
  .InfoCard_icon__lzwN7:hover {
    transform: translateX(10px);
  }
}

.InfoCard_title__792Dr {
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .InfoCard_title__792Dr {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
  }
}

.InfoCard_description__4ZLM4 {
  font-size: 11px;
  line-height: 16px;
  opacity: 0.8;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .InfoCard_description__4ZLM4 {
    font-size: 13px;
    line-height: 19px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/entities/main/ui/InfoSectionLayout/InfoSectionLayout.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.InfoSectionLayout_title__8SN9c {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}
.InfoSectionLayout_title__8SN9c::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 116px;
  height: 6px;
  background-color: rgb(98, 103, 223);
  border-radius: 90px;
}

.InfoSectionLayout_wrapper__sSZmv {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .InfoSectionLayout_wrapper__sSZmv {
    justify-content: space-between;
    margin-top: 30px;
  }
}

.InfoSectionLayout_card__zVXAV {
  width: calc(50% - 20px);
}
@media (min-width: 1200px) {
  .InfoSectionLayout_card__zVXAV {
    width: 250px;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/screens/ui/Main/sections/Scheme/Sheme.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Sheme_root__1lvFL {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .Sheme_root__1lvFL {
    margin-top: 60px;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/screens/ui/Main/sections/WinnerRules/WinnerRules.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.WinnerRules_root__sS6Ai {
  margin-top: 30px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .WinnerRules_root__sS6Ai {
    margin-top: 60px;
    padding-bottom: 40px;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/screens/ui/Main/Main.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Main_root__9nY9w {
  flex: 1 1;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/widgets/header/ui/Header/Header.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__Dqf0m {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.Header_container___yW_1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Header_main__t2bl_ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.Header_logo__YGu1H {
  display: block;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(117deg, #6267DF 0%, #3BD9EE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Header_description__qjc_m {
  display: block;
  font-size: 11px;
  flex: 1 1;
}

.Header_menu__pWdCw {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Header_link__XgKme {
  display: block;
  font-size: 11px;
  color: #000;
}
@media (hover: hover), (min-width: 1200px) {
  .Header_link__XgKme {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: -10px;
    transition: 0.3s ease;
    transition-property: color;
  }
  .Header_link__XgKme::after {
    content: "";
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    transition: 0.3s ease;
    transition-property: transform;
    height: 1px;
    width: 100%;
    background-color: rgb(98, 103, 223);
    transform: translateX(-110%);
  }
  .Header_link__XgKme:hover {
    color: rgb(98, 103, 223);
  }
  .Header_link__XgKme:hover::after {
    transform: translateX(0);
  }
}

@media (min-width: 1000px) {
  .Header_header__Dqf0m {
    padding-top: 27px;
  }
  .Header_container___yW_1 {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .Header_logo__YGu1H {
    font-size: 28px;
    width: auto;
  }
  .Header_menu__pWdCw {
    width: 200px;
    align-items: center;
    justify-content: space-between;
  }
  .Header_description__qjc_m {
    font-size: 16px;
    line-height: 19px;
    width: 150px;
  }
  .Header_link__XgKme {
    font-size: 15px;
  }
}
